# Feature Selection on House Prices Data

- L1 Regularization

In [23]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

%matplotlib inline

In [24]:
train_data = pd.read_pickle('data/final_train_data_feature_engineering_1hotenc_1.pkl')
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1430 entries, 0 to 1459
Columns: 372 entries, BsmtUnfSF to bin_mo_sold_(9, 12]
dtypes: float64(15), int64(3), uint8(354)
memory usage: 706.6 KB

In [3]:
train_data.head()

,BsmtUnfSF,2ndFlrSF,GarageArea,LotFrontage_log,LotArea_log,MasVnrArea_log,BsmtFinSF1_log,BsmtFinSF2_log,LowQualFinSF_log,WoodDeckSF_log,...,"bin_yr_remod_(1990, 2000]","bin_yr_remod_(2000, 2020]","bin_yr_sold_(2006, 2007]","bin_yr_sold_(2007, 2008]","bin_yr_sold_(2008, 2009]","bin_yr_sold_(2009, 2010]","bin_mo_sold_(1, 4]","bin_mo_sold_(4, 6]","bin_mo_sold_(6, 9]","bin_mo_sold_(9, 12]"
0,150,854,548,4.174387,9.041922,5.278115,6.559615,-9.21034,-9.21034,-9.210340,...,0,1,0,1,0,0,1,0,0,0
1,284,0,460,4.382027,9.169518,-9.210340,6.885510,-9.21034,-9.21034,5.697094,...,0,0,1,0,0,0,0,1,0,0
2,434,866,608,4.219508,9.328123,5.087597,6.186209,-9.21034,-9.21034,-9.210340,...,0,1,0,1,0,0,0,0,1,0
3,540,756,642,4.094345,9.164296,-9.210340,5.375279,-9.21034,-9.21034,-9.210340,...,0,0,0,0,0,0,1,0,0,0
4,490,1053,836,4.430817,9.565214,5.857933,6.484635,-9.21034,-9.21034,5.257496,...,1,0,0,1,0,0,0,0,0,1

In [4]:
train_data.describe()

,BsmtUnfSF,2ndFlrSF,GarageArea,LotFrontage_log,LotArea_log,MasVnrArea_log,BsmtFinSF1_log,BsmtFinSF2_log,LowQualFinSF_log,WoodDeckSF_log,...,"bin_yr_remod_(1990, 2000]","bin_yr_remod_(2000, 2020]","bin_yr_sold_(2006, 2007]","bin_yr_sold_(2007, 2008]","bin_yr_sold_(2008, 2009]","bin_yr_sold_(2009, 2010]","bin_mo_sold_(1, 4]","bin_mo_sold_(4, 6]","bin_mo_sold_(6, 9]","bin_mo_sold_(9, 12]"
count,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,...,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000
mean,562.467832,337.886713,465.418881,4.191539,9.096707,-3.502683,1.214734,-7.487048,-8.951942,-2.438030,...,0.194406,0.331469,0.225175,0.209091,0.230769,0.120280,0.204196,0.316084,0.285315,0.156643
std,436.521654,425.296412,207.837892,0.313043,0.509193,7.064876,7.241633,4.781434,1.940012,7.166345,...,0.395881,0.470906,0.417844,0.406802,0.421472,0.325402,0.403254,0.465109,0.451722,0.363591
min,0.000000,0.000000,0.000000,3.044522,7.170120,-9.210340,-9.210340,-9.210340,-9.210340,-9.210340,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,219.250000,0.000000,322.500000,4.094345,8.922658,-9.210340,-9.210340,-9.210340,-9.210340,-9.210340,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,474.000000,0.000000,474.000000,4.234107,9.145802,-9.210340,5.929586,-9.210340,-9.210340,-9.210340,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,806.000000,723.750000,576.000000,4.356709,9.342486,5.030439,6.546786,-9.210340,-9.210340,5.123965,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,2336.000000,1818.000000,1390.000000,5.204007,12.279532,7.377759,7.723120,7.295735,6.269096,6.753438,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
X = train_data[train_data.columns.drop("SalePrice_log")]
y = train_data["SalePrice_log"]

X.shape, y.shape

((1430, 371), (1430,))

In [6]:
X

,BsmtUnfSF,2ndFlrSF,GarageArea,LotFrontage_log,LotArea_log,MasVnrArea_log,BsmtFinSF1_log,BsmtFinSF2_log,LowQualFinSF_log,WoodDeckSF_log,...,"bin_yr_remod_(1990, 2000]","bin_yr_remod_(2000, 2020]","bin_yr_sold_(2006, 2007]","bin_yr_sold_(2007, 2008]","bin_yr_sold_(2008, 2009]","bin_yr_sold_(2009, 2010]","bin_mo_sold_(1, 4]","bin_mo_sold_(4, 6]","bin_mo_sold_(6, 9]","bin_mo_sold_(9, 12]"
0,150,854,548,4.174387,9.041922,5.278115,6.559615,-9.210340,-9.21034,-9.210340,...,0,1,0,1,0,0,1,0,0,0
1,284,0,460,4.382027,9.169518,-9.210340,6.885510,-9.210340,-9.21034,5.697094,...,0,0,1,0,0,0,0,1,0,0
2,434,866,608,4.219508,9.328123,5.087597,6.186209,-9.210340,-9.21034,-9.210340,...,0,1,0,1,0,0,0,0,1,0
3,540,756,642,4.094345,9.164296,-9.210340,5.375279,-9.210340,-9.21034,-9.210340,...,0,0,0,0,0,0,1,0,0,0
4,490,1053,836,4.430817,9.565214,5.857933,6.484635,-9.210340,-9.21034,5.257496,...,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,953,694,460,4.127134,8.976768,-9.210340,-9.210340,-9.210340,-9.21034,-9.210340,...,1,0,1,0,0,0,0,0,1,0
1456,589,0,500,4.442651,9.486076,4.779124,6.672033,5.093751,-9.21034,5.855072,...,0,0,0,0,0,1,1,0,0,0
1457,877,1152,252,4.189655,9.109636,-9.210340,5.616771,-9.210340,-9.21034,-9.210340,...,0,1,0,0,0,1,0,1,0,0
1458,0,0,240,4.219508,9.181632,-9.210340,3.891822,6.936343,-9.21034,5.902634,...,1,0,0,0,0,1,1,0,0,0
1459,136,0,276,4.317488,9.204020,-9.210340,6.721426,5.669881,-9.21034,6.601230,...,0,0,0,1,0,0,0,1,0,0

## Normalize Data

In [7]:
sc = StandardScaler()

In [8]:
X.loc[: , X.columns] = sc.fit_transform(X.loc[:, X.columns])

/Users/adeela/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

## Test/Train split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## Lasso Model

In [10]:
lasso = Lasso(alpha=0.02, random_state=0).fit(X_train, y_train)

In [11]:
model = SelectFromModel(lasso, prefit=True)

In [12]:
X_train_new = model.transform(X_train)
X_train_new.shape

(1144, 38)

In [13]:
X_train.shape

(1144, 371)

## Select  Features

In [14]:
selected_features = pd.DataFrame(model.inverse_transform(X_train_new), 
             index = X_train.index, 
             columns = X_train.columns)

In [15]:
selected_columns = selected_features.columns[selected_features.var()!=0]
selected_columns

Index(['2ndFlrSF', 'GarageArea', 'LotArea_log', 'OpenPorchSF_log',
       'EnclosedPorch_log', 'total_sqft_house_log', 'MSZoning_C (all)',
       'MSZoning_RM', 'Neighborhood_Crawfor', 'Condition1_Norm',
       'OverallQual_3', 'OverallQual_4', 'OverallQual_7', 'OverallQual_8',
       'OverallQual_9', 'OverallCond_3', 'OverallCond_4', 'ExterQual_TA',
       'Foundation_PConc', 'BsmtQual_TA', 'BsmtQual_Ex', 'BsmtExposure_No',
       'BsmtFinType1_GLQ', 'BsmtFinType1_Unf', 'HeatingQC_Ex', 'CentralAir_N',
       'FullBath_1', 'HalfBath_1', 'KitchenQual_TA', 'KitchenQual_Ex',
       'Functional_Typ', 'Fireplaces_2', 'GarageFinish_Fin', 'GarageCond_TA',
       'PavedDrive_Y', 'SaleCondition_Abnorml', 'has_fireplace_1',
       'bin_yr_remod_(1950, 1980]'],
      dtype='object')

## Save

In [19]:
final_cols = selected_columns.tolist()
final_cols.append('SalePrice_log')

In [20]:
pd.to_pickle(train_data[final_cols], 'data/final_train_data_l1_reg_v1.pkl')

## Checking Assumptions

Do it after selecting features 





### Linearity 

### Absence of Correlated errors

### Normality 

Check : 
- histogram and 
- normal probability plot; 
    - if no straight line, apply log transformation
    - if value zero, then can't apply log transformations

In [22]:
sns.distplot(train_data['SalePrice_log'])
fig = plt.figure()
res= stats.probplot(train_data['SalePrice_log'], plot=plt)

NameError: name 'sns' is not defined

### Homoscedasticity 

- Between Sale Price and other numeric variable we must get a trending pattern (expecially after log transformations)