# Feature Engineering on House Prices Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from pandas.plotting import scatter_matrix

from scipy import stats

%matplotlib inline

In [2]:
test_data = pd.read_csv('data/test.csv')
# train_data.info()

In [3]:
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [4]:
test_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [5]:
test_data.select_dtypes('object').describe()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1455,1459,107,1459,1459,1457,1459,1459,1459,1459,...,1383,1381,1381,1381,1459,3,290,51,1458,1459
unique,5,2,2,4,4,1,5,3,25,9,...,6,3,4,5,3,2,4,3,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
freq,1114,1453,70,934,1311,1457,1081,1396,218,1251,...,853,625,1293,1328,1301,2,172,46,1258,1204

## Converting Column

### Data Dictionary

In [6]:
data_dict =  pd.read_pickle('data/data_dict_06.pkl')

order_cat = ['OverallQual', 'OverallCond', 'ExterQual', 'ExterCond', 
             'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1','BsmtFinType2', 
             'HeatingQC', 'CentralAir', 'KitchenQual','FireplaceQu',
             'GarageQual', 'GarageCond', 'GarageCars', 'GarageFinish'
             'PoolQC']

# year is categorical variable becuase it makes no sense to add two years. 
# Also house build in 2010 is better than the one built in 1980

year_cols = ['YearBuilt', 'YearRemodAdd', 'GarageYrBlt', 'YrSold', 'MoSold'] 

len(data_dict.keys()) , len(order_cat), len(year_cols)

(56, 17, 5)

In [7]:
cat_cols = test_data.select_dtypes('object').columns.values

# columns that are categorical but not object type
additional_cat = [key for key in data_dict.keys() if key not in cat_cols]
cat_cols = np.concatenate((cat_cols, additional_cat))
cat_cols

array(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence',
       'MiscFeature', 'SaleType', 'SaleCondition', 'MSSubClass',
       'OverallQual', 'OverallCond', 'BsmtFullBath', 'BsmtHalfBath',
       'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'TotRmsAbvGrd', 'Fireplaces', 'GarageCars', 'MoSold'], dtype=object)

In [8]:
## convert type and also add order 
for col in cat_cols:
    is_ordered = True if col in order_cat else False
    test_data[col] = pd.Categorical(test_data[col], categories=data_dict[col], ordered=is_ordered)

# add categories for year columns
for col in year_cols:
    test_data[col] = pd.Categorical(test_data[col], ordered=True)
    
test_data.select_dtypes('category').describe()

,MSSubClass,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,MoSold,YrSold,SaleType,SaleCondition
count,1459,1455,1459,107,1459,1459,1457,1459,1459,1459,...,1381,1381,1459,3,290,51,1459,1459,1458,1459
unique,16,5,2,2,4,4,1,5,3,25,...,4,5,3,2,4,3,12,5,9,6
top,20,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,TA,TA,Y,Ex,MnPrv,Shed,6,2007,WD,Normal
freq,543,1114,1453,70,934,1311,1457,1081,1396,218,...,1293,1328,1301,2,172,46,250,363,1258,1204

## Adding new features

In [9]:
test_data['is_new_house'] = np.where(test_data['YearBuilt'] > 2000 , 1, 0)
test_data['is_recent_remolding'] = np.where(test_data['YearRemodAdd'] > 2000 , 1, 0)
test_data['basement_has_full_bathroom'] = np.where(test_data['BsmtFullBath'].cat.codes > 0, 1, 0) 
test_data['has_fireplace'] = np.where(test_data['Fireplaces'].cat.codes > 0, 1, 0) 
test_data['is_recent_garage_built'] = np.where(test_data['GarageYrBlt'] > 2000 , 1, 0)
test_data['has_garage'] = np.where(test_data['GarageYrBlt'].isnull() , 0, 1)
test_data['has_pool'] = np.where(test_data['PoolArea'] > 0, 1, 0)

# convert to categories
for c in ['is_new_house', 'is_recent_remolding', 'basement_has_full_bathroom', 'has_fireplace',
                  'is_recent_garage_built', 'has_garage', 'has_pool']:
    test_data[c] = pd.Categorical(test_data[c])

## Binning 
- Equal distribution binning 
- [ --> includes  and ( --> excludes

In [10]:
yr_built_bins = [1872, 1950, 1975, 2000, 2025]
yr_built_bins_interval = pd.IntervalIndex.from_breaks(yr_built_bins, closed ='left')
test_data['bin_yr_built'] = pd.cut(test_data['YearBuilt'], bins=yr_built_bins_interval, precision=0)

yr_remod_bins = [1950, 1980, 1990, 2000, 2025]
yr_remod_bins_interval = pd.IntervalIndex.from_breaks(yr_remod_bins, closed ='left')
test_data['bin_yr_remod'] = pd.cut(test_data['YearRemodAdd'], bins=yr_remod_bins_interval, precision=0)

yr_garage_bins = [1872, 1950, 1980, 1990, 2000,2025]
yr_garage_bins_interval = pd.IntervalIndex.from_breaks(yr_garage_bins, closed ='left')
test_data['bin_garage_built'] = pd.cut(test_data['GarageYrBlt'], bins=yr_garage_bins_interval, precision=0)

yr_sold_bins = [2006, 2007, 2008, 2009, 2025]
yr_sold_bins_interval = pd.IntervalIndex.from_breaks(yr_sold_bins, closed ='left')
test_data['bin_yr_sold'] = pd.cut(test_data['YrSold'], bins=yr_sold_bins_interval , precision=0)

month_sold_bins = [1, 4, 6, 9, 13]
month_sold_bins_interval = pd.IntervalIndex.from_breaks(month_sold_bins, closed ='left')
test_data['bin_mo_sold'] = pd.cut(test_data['MoSold'], bins=month_sold_bins_interval, precision=0)

## Fill missing values

Only for Regression Data

In [11]:
# test_regression_data = test_data
# test_tree_data = test_data.copy()

In [12]:
test_data['MSZoning'].fillna("RL", inplace=True)
test_data['Utilities'].fillna("AllPub", inplace=True)
test_data['Exterior1st'].fillna("VinylSd", inplace=True)
test_data['Exterior2nd'].fillna("VinylSd", inplace=True)
test_data['BsmtFullBath'].fillna(0, inplace=True)
test_data['BsmtHalfBath'].fillna(0, inplace=True)
test_data['KitchenQual'].fillna('TA', inplace=True)
test_data['Functional'].fillna('Typ', inplace=True)
test_data['GarageYrBlt'] = np.where( test_data['GarageYrBlt'].isnull(), test_data['YearBuilt'], test_data['GarageYrBlt'])
test_data['GarageCars'].fillna(2, inplace=True)
test_data['SaleType'].fillna('WD', inplace=True)
test_data['bin_garage_built'].fillna(test_data['bin_garage_built'].mode()[0], inplace=True)

In [13]:
for col in test_data.select_dtypes(include='category').columns:
    if test_data[col].isnull().sum() > 0:
        print(col)
        test_data[col].fillna("None", inplace=True)

Alley
MasVnrType
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PoolQC
Fence
MiscFeature

In [14]:
for col in test_data.select_dtypes(exclude='category').columns:
    if test_data[col].isnull().sum() > 0:
        print(col)
        test_data[col].fillna(0, inplace=True)

LotFrontage
MasVnrArea
BsmtFinSF1
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
GarageArea

In [15]:
test_data.isnull().sum().sort_values(ascending=False)

bin_mo_sold     0
BsmtFinType1    0
Exterior2nd     0
MasVnrType      0
MasVnrArea      0
               ..
GarageQual      0
GarageCond      0
PavedDrive      0
WoodDeckSF      0
Id              0
Length: 92, dtype: int64

**For Tree Models**

Didn't work

In [16]:
# test_tree_data['PoolQC'].fillna('None', inplace=True)
# test_tree_data['MiscFeature'].fillna('None', inplace=True)
# test_tree_data['Alley'].fillna('None', inplace=True)
# test_tree_data['Fence'].fillna('None', inplace=True)
# test_tree_data['FireplaceQu'].fillna('None', inplace=True)
# test_tree_data['GarageCond'].fillna('None', inplace=True)
# test_tree_data['GarageType'].fillna('None', inplace=True)

# # houses who have no garage; so year really does not matter. Set the year to the year the house was built
# test_tree_data['GarageYrBlt'] = np.where( test_tree_data['GarageYrBlt'].isnull(), test_tree_data['YearBuilt'], test_tree_data['GarageYrBlt'])

# test_tree_data['GarageFinish'].fillna('None', inplace=True)
# test_tree_data['GarageQual'].fillna('None', inplace=True)

# test_tree_data['BsmtExposure'].fillna('None', inplace=True)
# test_tree_data['BsmtFinType2'].fillna('None', inplace=True)
# test_tree_data['BsmtFinType1'].fillna('None', inplace=True) 
# test_tree_data['BsmtCond'].fillna('None', inplace=True)
# test_tree_data['BsmtQual'].fillna('None', inplace=True)
# test_tree_data['MasVnrType'].fillna('None', inplace=True)

## Categorical Encoding 
- One-hot Encoding of all categorical variables with na dropped and kept

In [17]:
'''
    Convert given categorical columns to one-hot encoded columns
    drop 'NAN' column to avoid dummy variable trap
    drop categorical columns after 1-hot encoding 
    
    dummy_trap = True --> delete the first dummy variable, incase a column has 'None', it'll be the first column; 
        if column has null values then delete NA 
        if column has 1/0 value then delete 0 column
        
        Na and 0 signify lack of something 
'''

def get_one_hot_encoded_X(X, cat_colums, dummy_trap=True, delete_original_cat= True):

    for col in cat_colums:
        
        temp = pd.get_dummies(X[col], prefix=col, dummy_na= False, drop_first=dummy_trap)
        X = X.join(temp)

    if delete_original_cat:    
        X = X.drop(cat_colums, axis =1)   
        
    return X

In [18]:
final_cols = pd.read_pickle('data/final_cols_06.pkl')
final_cols.remove('SalePrice')
final_cols.append('Id')

In [19]:
test = test_data[final_cols]
test.shape, test.isnull().sum().sum()

((1459, 85), 0)

In [20]:
cat_cols_final = test_data[final_cols].select_dtypes('category').columns
cat_cols_final.shape

(67,)

In [21]:
test_regression_data = get_one_hot_encoded_X(test, cat_cols_final, dummy_trap= True, delete_original_cat= True)
test_tree_data = get_one_hot_encoded_X(test, cat_cols_final, dummy_trap= False, delete_original_cat= True)

test.shape, test_regression_data.shape, test_tree_data.shape

((1459, 85), (1459, 362), (1459, 429))

# Save

In [22]:
#save data to file

pd.to_pickle(test_regression_data, 'data/test_regression_data_06.pkl')
pd.to_pickle(test_tree_data, 'data/test_tree_data_06.pkl')
pd.to_pickle(test, 'data/test_catboost_data_06.pkl')